#linkedin,
#github {
  float: right;
  /*margin-top: 0.7%;*/
  border: 2px solid transparent;
}

#linkedin:hover,
#github:hover {
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px solid white;
  transition: border .3s;
}

#linkedin {
  margin-right: 7%;
}

#github {
  margin-right: 2%;
}
.navbar {
  background-color: #2E86C1;
  min-height: 10%;
  padding-left: 10%;
  padding-right: 7%;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  box-shadow: 1px 1px 2px grey;
  width: 100%;
  z-index: 1;
}


.navbar-top {
  position: fixed;
}

#navbar-items{
  margin-top: 3%;
}

.navbar-brand{
  font-family: 'Abril Fatface', cursive;
  font-size: 1.8em;
  letter-spacing: .1em;
  text-shadow: 1px 1px grey;
  margin-top: -1.3%;

}

.navbar-email,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    transition: color .2s;
}

.navbar-default .navbar-brand:hover {
    color: white;
    cursor: pointer;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #2E86C1;
  text-decoration: underline;
}


.container {
  text-align: center;
  letter-spacing: .05em;
  line-height: 1.6em;
  padding: 0px;
  width: 100%;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

span{
  display: inline-block;
}

.thumbnail {
  padding: 5px;
  min-width: 100px;
  max-width: 70px;
  min-height: 50px;
  border: none;
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
}

.img-thumbnail {
  bottom: 0;
  border: 0px solid white;
}

.wrapper {
  display: inline-block;
  padding-left: 3%;
  text-align: center;
  padding-left: 0;

}

.list-group-item {
  text-align: center;
  background-color: #78B1D7;
  font-family:'Ubuntu Condensed', sans-serif;
  color: white;
  font-size: 1.4em;
  border: none;

  box-shadow: 2px 2px 3px grey;
}

.list-group-item-icon {
  max-width: 4%;
  color: black;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

p {
  padding: 20px;
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  font-size: 1.2em;
}

.cover-photo {
  max-width: 100%;
  z-index: -1;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects {
  font-size: 1.5em;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 0;
  text-shadow: 2px 2px 2px #E5E5E5;
  text-decoration: underline;
  zoom: 100%;
  transition: all 0.3s;
}

.projects:hover {
  transition: all 0.3s;
}

.navbar-footer {
  display: inline-block;
  vertical-align: middle;
  height: 10vh;
  z-index: 1;

}
.navbar-email {
  margin-top: 2.5vh;
  display: inline-block;
}

.project-img {
  max-width: 100%;
  box-shadow: 3px 3px 6px grey;
}



.project-gallery {
  max-width: 25%;
  display: inline-block;
  min-width: 300px;
  min-height: 250px;
  max-height: 250px;
  border: 3px solid white;
  padding: 1%;
  padding-top: 2%;
}

.project-gallery:hover {
 border: 3px solid red;
 border-radius: 10px;
 display: inline-block;
 transition: all 0.5s;
}

.project-gallery-img {
  padding-bottom: 5%;
}

.project-gallery-img:hover {
  zoom: 110%;
  transition: all 0.5s;
}

.st-johns-img,
.dbc-img {
  max-width: 100%;
  min-width: 100%;
  max-height:
}

.project-ul {
  padding: 0;
}

.project-desc {
  padding: 2%;
  border-top: 1px solid black;
}

.subject-header {
    min-height: 8vh;
}