#linkedin {
  float: right;
  margin-top: 10px;
}

.navbar {
  background-color: #2E86C1;
  min-height: 65px;
  padding-left: 10%;
  padding-right: 7%;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand{
  font-family: 'Abril Fatface', cursive;
  font-size: 1.8em;
  letter-spacing: .1em;
  text-shadow: 1px 1px grey;
}

.navbar-brand,
.navbar-email,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #85C1E9;
}


.container {
  text-align: center;
  letter-spacing: .05em;
  line-height: 1.6em;
  padding: 0px;
  width: 100%;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

span{
  display: inline-block;
}

.thumbnail {
  padding: 5px;
  max-width: 70px;
  min-height: 50px;
  border: none;
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
}

.img-thumbnail {
  bottom: 0;
  border: 0px solid white;
}

.wrapper {
  display: inline-block;
  padding-left: 3%;
  text-align: center;
}

.list-group-item {
  text-align: center;
  background-color: #B5C9D6;
  font-family:'Ubuntu Condensed', sans-serif;
  color: white;
  font-size: 1.4em;
}

p {
  padding: 10px;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 0;
}

.projects,
.education {
  padding-right: 4%;
}

.navbar-footer {
  display: inline-block;
  vertical-align: middle;
}
.navbar-email {
  bottom: 5%;
}

.project-img {
  max-width: 100%;
}

.project-gallery {
  max-width: 25%;
  display: inline-block;
}

.project-gallery:hover {
 border: 3px solid red;
 display: inline-block;
}